<a href="https://colab.research.google.com/github/rsvpros/Data-Analysis-What-Makes-a-Good-Video-Game-/blob/main/Test_r_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
cat("test ", "hello world\n\n\n")

c <- data.frame(x = 0:10, y = 20:30, z= 30:40)

c

test  hello world

   x  y  z
1   0 20 30
2   1 21 31
3   2 22 32
4   3 23 33
5   4 24 34
6   5 25 35
7   6 26 36
8   7 27 37
9   8 28 38
10  9 29 39
11 10 30 40